@charset "utf-8";

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f1f4f8;
}

#left_align {
	text-align: left;
}

#right_align {
	text-align: right;
}

#center_align {
	text-align: center;
}

#nav-username{
	float: right;
	padding-right: 24px;
	background: transparent;
}

a {
	text-decoration: none;
}

.navbar {
  width: 100%;
 /* background-image: linear-gradient(to right,#b92b27,#1565C0); */
  background: linear-gradient(90deg, rgba(80,76,76,1) 0%, rgba(249,249,249,1) 51%, rgba(80,76,76,1) 100%);
  overflow: auto;
}

table {
	float: left;
	width: 90%;
	padding: 10px;
	border: 3px solid red;
	position: relative;
}

.table-scroll {
    height: 650px;
	overflow-y: scroll;	
}

.navbar a {
	float: left;
	padding: 12px;
	color: white;
	text-decoration: none;
	font-size: 17px;
}

.navbar a:hover {
	background-color: #000;
}

.active {
	background-color: #b92b27;
}

@media screen and (max-width: 500px) {
	.navbar a {
		float: none;
		display: block;
	}
}

#accs option[isHeader='1']
{
color:red;
font-weight:bold;
}

#accs option[isHeader='0']
{
font-weight:bold;
}