<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace ="fragments :: head"></head>
<body>
<div class="container text-center">
<div th:replace ="fragments :: navbar"></div>
    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>
    <div>
        <h1>Daybook Entries</h1>
    </div>
     
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Date</th>
                    <th>Narration</th>
                    <th>Credit</th>
                    <th>Debit</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="daybook: ${daybookList}">
                    <td th:text="${daybook.date}">Date</td>
                    <td th:text="${daybook.narration}">Narration</td>
                    <td th:text="${daybook.crAmt}">Credit</td>
                    <td th:text="${daybook.drAmt}">Debit</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>