<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace = "fragments :: head" />
<body>

  	<div th:replace = "fragments::navbar"> </div>  
	<!-- jQuery UI DateRangePicker -->	
	<div class="container">
		<form th:action="@{/daybooks}" th:object="${formdata}" method="post" style="max-width: 600px; margin: 0 auto;">
			<fieldset>
			<legend>Select Date Range</legend>
			From Date: <input type="date" th:filed="*{startDate}" name="startDate" min="2000-01-01" max="2022-01-01" value="2020-04-01" >
		 	<br><br>To Date: <input type="date" th:filed="*{endDate}" name="endDate" min="2000-01-02" max="2022-01-01" value ="2021-03-31">
			<br><br><span><button type="submit">Submit </button></span>
			<input type="button" value="Close">
		</fieldset>
		</form>	
	</div>
</body>
</html>