<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace = "fragments :: head" />
<body>

  	<div th:replace = "fragments::navbar"> </div>  
	<!-- jQuery UI DateRangePicker -->	
	<div class="container">
        <h2 style="text-align: left;">Select Date Range</h2>
		<form class="form-horizontal" th:action="@{/daybooks}" th:object="${formdata}" method="post" style="max-width: 600px; margin: 0 auto;">
            <div class="form-group">
                <label class="control-label col-sm-2">From Date:</label>  
                <div class="col-sm-4">   
			 <input type="date" class="form-control" th:filed="*{startDate}" name="startDate" min="2000-01-01" max="2022-01-01" value="2018-04-01" >
            </div></div>
            <div class="form-group">
                <label class="control-label col-sm-2">To Date:</label>
                <div class="col-sm-4">
                <input type="date" class="form-control" th:filed="*{endDate}" name="endDate" min="2000-01-02" max="2022-01-01" value ="2019-03-31">
        </div> </div>
        <div class="col-sm-offset-2 col-sm-4">
        <button type="submit" class="btn btn-success">Submit </button>
		<button type="button" class="btn btn-danger" onclick="window.history.back()" value="Close"	>Close</button>
	</div>	
    </form>	
	</div>
</body>
</html>