<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace ="fragments :: head"></head>
<body>
<div th:replace ="fragments :: navbar"></div>
<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>
    <div>
        <h1>Ledger</h1>
    </div>
     
    <div>
    	<div class=scrol_daybook>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Date</th>
                    <th>Narration</th>
                    <th>Credit</th>
                    <th>Debit</th>
                    <th>Balance</th>
                    <th>D/C</th>
                </tr>
            </thead>
            <tbody>
               	<th:block th:each="ledger: ${listLedger}">
               		<tr>
               		 <td></td>
               		 <td><b th:text ="${ledger.accheadName}">AccHead Name</b></td>
               		 <td></td>
               		 <td></td>
               		 <td></td>
               		 <td></td>
               		</tr>
               		<tr>
               		 <td th:text = "${ledger.date}">Date</td>
               		 <td style="color:red">Opening Balance</td>
               		 <td></td>
               		 <td style="color:darkgreen" th:text="${ledger.openingBal}">Opening Balance Value</td>
               		 <td></td>
               		 <td></td>
               		</tr>
                	<tr th:each ="dailybook : ${ledger.listDailybooks}">
					 <td th:text = "${dailybook.date}"></td>
					 <td th:text = "${dailybook.narration}"></td>
					 <td th:text = "${dailybook.debitAmt}"></td>
					 <td th:text = "${dailybook.creditAmt}"></td>
               		 <td th:text = "${dailybook.balance}"></td>
               		 <td th:text = "${dailybook.debitOrCredit}"></td>
               		</tr>
                <!-- 	<tr>
               		 <td></td>
               		 <td>Total</td>
               		 <td style="color:red" th:text = "${dailybook.debitAmt}">Credit Total</td>
               		 <td style="color:red" th:text = "${dailybook.creditAmt}">Debit Total</td>
               		 <td th:text = "${dailybook.balance}"></td>
               		 <td th:text = "${dailybook.debitOrCredit}"></td>
               		</tr>  -->	
                </th:block>
            </tbody>
        </table>
        </div>
    </div>
</div>
</body>
</html>