<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: head" />
<body>
	<div th:replace="fragments::navbar"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<blockquote class="blockquote text-center">
					<h2 class="mb-0">[[${message}]]</h2>
					<div>
						<button type="submit" class="btn btn-success"
							onclick="window.location='/create_user'">New User</button>
						<button type="submit" class="btn btn-success"
							onclick="window.location='/reports'">Reports</button>
					</div>
				</blockquote>
			</div>
		</div>
	</div>
</body>
</html>