<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace ="fragments :: head"></head>
<body>
<div th:replace ="fragments :: navbar"></div>
<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>
    <div>
        <h1>Trading - Profit &amp; Loss</h1>
    </div>
     
    <div>
    	<div class=scrol_daybook>
        <div class="col-xs-6 col-md-6" style="padding:0">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th id="center_align">Expenses</th>
                    <th id="center_align">Amount</th>
                </tr>
            </thead>
            <tbody>
               		<tr th:each="expense: ${expenses}">
               		 <td id="left_align" th:text ="${expense.acc}" th:attrappend="isHeader = ${expense.header}">Acc Head Name</td>
               		 <td id="right_align" th:text="${expense.amt}" th:attrappend="isHeader = ${expense.header}">Debit</td>
               		</tr>
            </tbody>
        </table>
        </div>
        <div class="col-xs-6 col-md-6" style="padding:0">
         <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th id="center_align">Income</th>
                    <th id="center_align">Amount</th>
                </tr>
            </thead>
            <tbody>
               		<tr th:each="income: ${incomes}" >
               		 <td id="left_align" th:text ="${income.acc}" th:attrappend="isHeader = ${income.header}">Acc Head Name</td>
               		 <td id="right_align" th:text="${income.amt}" th:attrappend="isHeader = ${income.header}">Debit</td>
               		</tr>
            </tbody>
        </table>
        </div>
        </div>
    </div>
</div>
</body>
</html>