<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace ="fragments :: head"></head>
<body>
<div th:replace ="fragments :: navbar"></div>
<div class="container text-center">
    <div>
        <form th:action="@{/logout}" method="post">
            <p>
                Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
            </p>
            <input type="submit" value="Sign Out" />
        </form>
    </div>
    <div>
        <h1>Trial Balance</h1>
    </div>
     
    <div>
    	<div class=scrol_daybook>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Account Name</th>
                    <th>Debit</th>
                    <th>Credit</th>
                </tr>
            </thead>
            <tbody>
               	<th:block th:each="list: ${listmap}">
               		<tr th:with="daybal=${LedgerBalance.findBalance(list.value)}">
               		 <td th:text ="${list.key}">Acc Head Name</td>
               		 <td style="color:darkgreen" th:text="${daybal.closeBl}">Debit</td>
               		 <td>Credit</td>
               		</tr>
                </th:block>
            </tbody>
        </table>
        </div>
    </div>
</div>
</body>
</html>