<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: head" />

<body>
	<div th:replace="fragments::navbar"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-4">
		<form th:action="@{/uploadedExcel}" th:object="${csvUploadModel}" enctype="multipart/form-data" method="post">
			<div class="form-group">
				<label for="exampleFormControlFile1">Select Daybook Excel file</label>
				<input type="file" enctype="multipart/form-data" class="form-control-file" id="exampleFormControlFile1" th:field="*{file1}">
			</div>
			<div class="form-group">
				<label for="exampleFormControlFile2">Select AccHead Excel file</label>
				<input type="file" enctype="multipart/form-data" class="form-control-file" id="exampleFormControlFile2" th:field="*{file2}">
			</div>
			<div class="form-group">
				<label for="exampleFormControlFile3">Select CloseBalance Excel file</label>
				<input type="file" enctype="multipart/form-data" class="form-control-file" id="exampleFormControlFile3" th:field="*{file3}">
			</div>
			<div class="form-group">
				<label for="exampleFormControlFile4">Select Schedule Excel file</label>
				<input type="file" enctype="multipart/form-data" class="form-control-file" id="exampleFormControlFile4" th:field="*{file4}">
			</div>
			<button type="submit" class="btn btn-success">Upload</button>
		</form>
		</div>
		<div class="col-lg-4"></div>
		</div>
	</div>
</body>

</html>